[user]
  name = Kevin Bongart
  email = contact@kevinbongart.net
[push]
  default = current
[core]
  editor = s -w
  excludesfile = /Users/Kevin/.gitignore_global
[color]
  ui = true
[rerere]
	enabled = 1
